<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Yearly Salary Review</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body th:debug>
<div class="container">
    <div class="row">
        <div class="col-sm-8 mt-2">
            <h1>Comment list based on Post</h1>
        </div>
        <div class="col-sm-4 text-right mt-2">
            <form th:action="@{/posts}" method="get">
                <button type="submit" class="btn btn-outline-secondary">Back</button>
            </form>
        </div>
    </div>
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th>Pc F Id</th>
            <th> Comment</th>

            <!-- Add more column headers here as needed -->
        </tr>
        </thead>
        <tbody>
        <!-- Loop through each row of the query results -->
        <tr th:each="row : ${queryResultList}">
            <!-- Access each column value for the current row using the column name as the key -->
            <td th:text="${row.pc_fid}">
            </td>

            <td th:text="${row.text}"></td>
            <td>
                <form th:action="@{/deleteComment}" method="post">
                    <input type="hidden" name="cid" th:value="${row.id}"/>
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </td>

        </tr>
        <tr>
            <td>

                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal">Add New
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">New Comment</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="/addNewComment" method="post">
                                <div class="modal-body">
                                    <input type="hidden" name="id" th:value="${id}"/>
                                    <div class="form-group">

                                        <input type="text" class="form-control" id="newPcomment"
                                               name="newPcomment"/><br>
                                        <!--                    <input type="text"-->
                                        <!--                           name="newPcomment" class="form-control"> <br>-->
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-outline-success">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </td>
        </tr>

        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>


</body>
</html>
